.myPokemon__List {
    li {
        background-color: white;
        padding-right: 20px;
        border-radius: 5px;
        margin-bottom: 5px;
        max-width: 400px;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        padding-left: 105px;
        @media only screen and (max-width: 768px) {
            padding-left: 105px;
        }
        a {
            text-transform: capitalize;
            display: flex;
            align-items: center;
            flex-grow: 1;
        }
        .myPokemon__Remove {
            font-weight: bold;
            margin-left: auto;
            cursor: pointer;
            font-size: 26px;
            display: block;
            padding: 10px 0 10px 10px;
        }
    }
    img {
        position: absolute;
        left: 0;
        top: -9px;
    }
}
