.pokemonDetails {
    h1 {
        span {
            color: black;
            margin-left: auto;
            letter-spacing: normal;
            font-size: 18px;
            cursor: pointer;
            transition: color 0.3s ease;
            &:hover {
                color: #ea0810;
            }
            @media only screen and (max-width: 768px) {
                font-size: 16px;
                margin-top: 15px;
            }
        }
    }
}

.pokemonDetails__Wrap {
    display: flex;
    @media only screen and (max-width: 992px) {
        flex-direction: column;
    }
}

.pokemonDetails__Img {
    height: 475px;
    width: 475px;
    margin-right: 60px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    @media only screen and (max-width: 1200px) {
        margin-right: 35px;
        height: 400px;
        width: 400px;
    }
    @media only screen and (max-width: 768px) {
        width: 100%;
        height: auto;
        margin-right: 0;
    }
}

.pokemonDetails__List {
    text-transform: capitalize;
    display: flex;
    h5 {
        // color: #ea0810;
        font-size: 20px;
    }
    & > li {
        padding: 0 20px;
        span {
            padding-left: 10px;
            font-weight: bold;
        }
    }
    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.pokemonDetails__ItemList {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 20px;
}
